<h1>Listing Venta Productos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Venta</th>
      <th>Producto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venta_productos.each do |venta_producto| %>
      <tr>
        <td><%= venta_producto.ventum.folio %></td>
        <td><%= venta_producto.producto.nombre %></td>
        <td><%= link_to 'Show', venta_producto %></td>
        <td><%= link_to 'Edit', edit_venta_producto_path(venta_producto) %></td>
        <td><%= link_to 'Destroy', venta_producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venta producto', new_venta_producto_path %>
