

<h1>Listing Venta</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Folio</th>
      <th>Fechacompra</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venta.each do |ventum| %>
      <tr>
        <td><%= ventum.folio %></td>
        <td><%= ventum.fechacompra %></td>
        <td><%= ventum.precio %></td>
        <td><%= ventum.cantidad %></td>
        <td><%= ventum.cliente.nombre %></td>
        <td><%= link_to 'Show', ventum %></td>
        <td><%= link_to 'Edit', edit_ventum_path(ventum) %></td>
        <td><%= link_to 'Destroy', ventum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ventum', new_ventum_path %>
